<a href="https://colab.research.google.com/github/jgkorman/Statistical-Analysis-In-Python/blob/main/NonLinear_Models_and_Longitudinal_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# multilevel logistic regression
fname_logistic = "/content/drive/MyDrive/Delaware/Summer 2023/ICPSR/MLE 2/Lecture 5: Nonlinear and Longitudinal Models/wvsEvs.dta"
data_logistic = pd.read_stata(fname_logistic)

data_logistic

,COUNTRY,religiousattendance,educationallevel,income,unemployed,religiousparents,loglocalurbanization,FEMALE,SINGLE,DIVORCED,widowed,religiousregulation,gini,tertiaryschoolenrollment,urbanization
0,Argentina,1,15.0,-1.385694,0.0000,1.0,13.122,0.0,0.0,0.0,1.0,5,52.2,48.525,87.00
1,Argentina,1,14.0,-0.373249,0.0000,1.0,13.122,0.0,0.0,0.0,0.0,5,52.2,48.525,87.00
2,Argentina,0,14.0,-1.385694,0.0000,1.0,13.122,0.0,0.0,0.0,0.0,5,52.2,48.525,87.00
3,Argentina,1,14.0,-1.385694,0.0000,1.0,13.122,0.0,0.0,0.0,1.0,5,52.2,48.525,87.00
4,Argentina,0,14.0,-1.385694,0.0000,1.0,13.122,1.0,0.0,0.0,1.0,5,52.2,48.525,87.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136606,EastGermany,0,16.0,-1.192552,0.2762,0.0,11.513,0.0,1.0,0.0,0.0,3,30.0,33.825,86.18
136607,EastGermany,1,18.0,0.949906,0.0000,1.0,9.903,1.0,1.0,0.0,0.0,3,30.0,33.825,86.18
136608,EastGermany,0,16.0,0.316340,0.0000,0.0,11.513,0.0,1.0,0.0,0.0,3,30.0,33.825,86.18
136609,EastGermany,0,15.0,0.316340,0.0000,0.0,11.513,0.0,1.0,0.0,0.0,3,30.0,33.825,86.18
136610,EastGermany,0,15.0,-1.584357,0.2476,0.0,11.513,0.0,1.0,0.0,0.0,3,30.0,33.825,86.18

In [ ]:
# longitudinal data
fname_long = "/content/drive/MyDrive/Delaware/Summer 2023/ICPSR/MLE 2/Lecture 5: Nonlinear and Longitudinal Models/soep_5560_21.dta"
data_long = pd.read_stata(fname_long)
data_long.head()

,id,j,gender,age,married,nrchildren,yearsEd,emplStat,totIncBeforeG,totIncAfterG,laborInc,state,healthSat,lifeSat,emplStat55
0,101,1985,1,55,1,0,15.0,1,23219.03,16164.22,23060.29,0,8,8,1
1,101,1986,1,56,1,0,15.0,1,23263.78,16072.46,23263.78,0,7,10,1
2,101,1987,1,57,1,0,15.0,1,23273.50,16108.25,23273.50,0,5,8,1
3,101,1988,1,58,1,0,15.0,1,23559.82,16268.29,23559.82,0,8,8,1
4,101,1989,1,59,1,0,15.0,1,23110.63,16110.02,22857.30,0,7,8,1

#**Multilevel logistic regression**

In [ ]:
# proportion of religious attendance by country
data_logistic.groupby('COUNTRY')['religiousattendance'].mean()

COUNTRY
Argentina            0.292292
Armenia              0.076000
Australia            0.165200
Austria              0.256229
Azerbaijan           0.059940
Bangladesh           0.635410
Belarus              0.058728
Belgium              0.233816
BosniaHerzegovina    0.310833
Brazil               0.346639
Bulgaria             0.074351
Canada               0.269186
Chile                0.266507
China                0.005706
Colombia             0.455446
Croatia              0.265060
CzechRepublic        0.110538
Denmark              0.025528
DominicanRepublic    0.446043
EastGermany          0.086769
Estonia              0.036032
Finland              0.044955
France               0.087123
Georgia              0.097608
Ghana                0.789474
Greece               0.133758
Hungary              0.142142
Iceland              0.032025
India                0.489044
Ireland              0.733879
Italy                0.392128
Japan                0.028196
Latvia               0.050547
Lithuania            0.149482
Luxembourg           0.201550
Macedonia            0.109548
Malta                0.828000
Mexico               0.448879
MoldovaRepublicOf    0.108740
Netherlands          0.170953
Nigeria              0.873528
NorthernIreland      0.480892
Norway               0.051129
Peru                 0.430223
Poland               0.577283
Portugal             0.382609
Romania              0.217875
RussianFederation    0.025073
Slovakia             0.404959
Slovenia             0.201780
Spain                0.274758
Sweden               0.041431
Switzerland          0.156846
Turkey               0.390752
Ukraine              0.099351
UnitedKingdom        0.143430
UnitedStates         0.440928
Uruguay              0.132000
Venezuela            0.309167
WestGermany          0.160273
Name: religiousattendance, dtype: float64

In [ ]:
data_logistic['constant'] = 1

In [ ]:
# null model -- not incorporating grouping structure by countries due to limitations in python

import pandas as pd
import statsmodels.api as sm



# Separate the target variable (dependent variable) and features (independent variables)
X = data_logistic['constant']
y = data_logistic['religiousattendance']

# # Add a constant column to the features (intercept term in the model)


# Create and fit the logistic regression model
model = sm.Logit(y, X)
result = model.fit()

# Print the model summary
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.549296
         Iterations 5
                            Logit Regression Results
===============================================================================
Dep. Variable:     religiousattendance   No. Observations:               136611
Model:                           Logit   Df Residuals:                   136610
Method:                            MLE   Df Model:                            0
Date:                 Wed, 19 Jul 2023   Pseudo R-squ.:               1.166e-10
Time:                         18:58:53   Log-Likelihood:                -75040.
converged:                        True   LL-Null:                       -75040.
Covariance Type:             nonrobust   LLR p-value:                       nan
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
constant      -1.1612      0.006   -182.888      0.000      -1.174      -1.149
==============================================================================

#**Longitudinal model**

In [ ]:
data_long

,id,j,gender,age,married,nrchildren,yearsEd,emplStat,totIncBeforeG,totIncAfterG,laborInc,state,healthSat,lifeSat,emplStat55
0,101,1985,1,55,1,0,15.0,1,23219.03,16164.22,23060.29,0,8,8,1
1,101,1986,1,56,1,0,15.0,1,23263.78,16072.46,23263.78,0,7,10,1
2,101,1987,1,57,1,0,15.0,1,23273.50,16108.25,23273.50,0,5,8,1
3,101,1988,1,58,1,0,15.0,1,23559.82,16268.29,23559.82,0,8,8,1
4,101,1989,1,59,1,0,15.0,1,23110.63,16110.02,22857.30,0,7,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6019,1150402,2002,1,56,1,0,10.5,1,22920.00,33192.60,21000.00,5,5,7,1
6020,1150402,2003,1,57,1,0,10.5,1,18000.00,28904.00,18000.00,5,7,8,1
6021,1150402,2004,1,58,1,0,10.5,2,10506.81,22954.81,7000.00,5,10,9,1
6022,1150402,2005,1,59,1,0,10.5,1,35066.81,54307.80,30000.00,5,8,8,1
6023,1150402,2006,1,60,1,0,10.5,1,32060.00,24912.00,27500.00,5,5,5,1

In [ ]:
# this is a simple random intercept model
import statsmodels.formula.api as smf

model = smf.mixedlm("lifeSat ~ 1", data_long, groups= "id").fit()

print(model.summary())

          Mixed Linear Model Regression Results
=========================================================
Model:            MixedLM Dependent Variable: lifeSat
No. Observations: 6024    Method:             REML
No. Groups:       1236    Scale:              1.4550
Min. group size:  1       Log-Likelihood:     -10897.8827
Max. group size:  6       Converged:          Yes
Mean group size:  4.9
----------------------------------------------------------
           Coef.  Std.Err.     z     P>|z|  [0.025  0.975]
----------------------------------------------------------
Intercept  6.937     0.044  158.723  0.000   6.852   7.023
id Var     1.996     0.089
=========================================================

In [ ]:
# random intercept model with age temporally
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

# Replace 'your_data.csv' with the actual filename/path if reading from a CSV
# data = pd.read_csv('your_data.csv')

# Perform the mixed-effects linear regression
model_formula = "lifeSat ~ C(age) + (1|id)"  # Replace 'age' with the name of the age variable
model = smf.mixedlm(model_formula, data=data_long, groups='id')
result = model.fit()

# Print the model summary
print(result.summary())

          Mixed Linear Model Regression Results
=========================================================
Model:            MixedLM Dependent Variable: lifeSat
No. Observations: 6024    Method:             REML
No. Groups:       1236    Scale:              1.4538
Min. group size:  1       Log-Likelihood:     -10917.1620
Max. group size:  6       Converged:          Yes
Mean group size:  4.9
---------------------------------------------------------
               Coef.  Std.Err.   z    P>|z| [0.025 0.975]
---------------------------------------------------------
Intercept       6.934    0.087 79.963 0.000  6.764  7.104
C(age)[T.56]    0.073    0.050  1.457 0.145 -0.025  0.172
C(age)[T.57]    0.139    0.052  2.690 0.007  0.038  0.240
C(age)[T.58]    0.025    0.053  0.460 0.645 -0.080  0.129
C(age)[T.59]    0.011    0.055  0.209 0.835 -0.096  0.119
C(age)[T.60]    0.102    0.057  1.807 0.071 -0.009  0.213
1 | id         -0.000    0.000 -0.749 0.454 -0.000  0.000
id Var          1.994    0.088
=========================================================